[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = {index = "https://pypi.douban.com/simple", version = "*"}
markdown = "*"
django-filter = "*"
mysqlclient = "*"
pillow = "*"
future = "*"
six = "*"
django-crispy-forms = "*"
django-reversion = "*"
django-import-export = "*"
django-formtools = "*"
httplib2 = "*"
coreapi = "*"
pygments = "*"
django-guardian = "*"
drf-yasg = "*"
djangorestframework = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
yunpian-python-sdk = "*"
pycryptodome = "*"
alipay-sdk-python-pycryptodome = "*"
drf-extensions = "*"
django-redis = "*"
django-redis-cache = "*"
social-auth-app-django = "*"
sentry-sdk = "*"

[requires]
python_version = "3.7"
